.forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 70px;
}

.headerLogin {
  /* text-align: center;
  color: #ef8811; */
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #6a11cb, #2575fc);
  background-size: 300% 100%;
  animation: gradientAnimation 5s infinite;
  color: white;
  padding: 20px;
  text-align: center;
  width: 300px;
  border-radius: 5px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.containerLogin {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 4;
}

.link {
  color: #ef8811;
}

.button {
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #6a11cb, #2575fc);
  background-size: 300% 100%;
  animation: gradientAnimation 5s infinite;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.95);
}
